#menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding-left: 10px;
  margin-top: 10px;
}
/*
#sidebar {
  width: 100%;
  height: 100%;
  background: rgb(21, 74, 113);
  background: #0048ab;
  border-right: solid 1px #ccc;
  color: white;
}
a {
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  padding: 15px 20px;
  color: white;
} */


/* Estilos para el contenedor principal */
#sidebar {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  padding-top: 20px;
}

/* Estilos para el menú */
#menu a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin-bottom: 5px;
}

/* Estilos para los enlaces activos */
#menu a.active {
  background-color: #555;
}

/* Estilos para los enlaces al pasar el cursor */
#menu a:hover {
  background-color: #555;
}
