<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="display: flex;
justify-content: center;
align-items: center;
height: 100vh;">
  <form class="container" fxLayout="column" fxLayoutGap="20px" [formGroup]="loginForm">
    <h1>Log In</h1>
    <div *ngIf="errMsg.length > 0" fxLayout="column" fxLayoutGap="5px">
      <span *ngFor="let msg of errMsg">{{msg}}</span>
    </div>
    <input type="text" placeholder="Username" formControlName="username">
    <input type="password" placeholder="Password" formControlName="password">
    <button (click)="onSubmit()">Submit</button>
  </form>
</div>
